<section>
  <div class="row">
    <div class="col-12">
      <h2>Our Activities</h2>
      <img src="../../assets/images/curved-line.png"/>
    </div>
    <div class="col-4">
      <article>
        <div class="activity-photo">
          <img src="../../assets/images/activities/mohammad-metri-421904-unsplash.jpg"/>
        </div>
        <div>
          <span>Photography \ Life Style</span>
          <p>Rockin' and rollin' all week long. As long as we live it's you and me baby.</p>
          <hr/>
          <div>
              <span>Sep, 6, 2016</span>
              <div>
                <i class="far fa-comment-alt"></i>
                <span>05 Comments</span>
              </div>
              <div>
                <i class="far fa-thumbs-up"></i>
                <span>15 Likes</span>
              </div>
          </div>
          <p>by <span>Karten Smith</span></p>
        </div>
      </article>
    </div>
    <div class="col-4">
      <article>
        <div class="activity-photo">
          <img src="../../assets/images/activities/luiz-guimaraes-1278254-unsplash.jpg"/>
        </div>
        <div>
          <span>Photography \ Life Style</span>
          <p>Rockin' and rollin' all week long. As long as we live it's you and me baby.</p>
          <hr/>
          <div>
              <span>Sep, 6, 2016</span>
              <div>
                <i class="far fa-comment-alt"></i>
                <span>05 Comments</span>
              </div>
              <div>
                <i class="far fa-thumbs-up"></i>
                <span>15 Likes</span>
              </div>
          </div>
          <p>by <span>Karten Smith</span></p>
        </div>
      </article>
    </div>
    <div class="col-4">
      <article>
          <div class="activity-photo">
            <img src="../../assets/images/activities/rawpixel-661940-unsplash.jpg"/>
          </div>
          <div>
            <span>Photography \ Life Style</span>
            <p>Rockin' and rollin' all week long. As long as we live it's you and me baby.</p>
            <hr/>
            <div>
                <span>Sep, 6, 2016</span>
                <div>
                  <i class="far fa-comment-alt"></i>
                  <span>05 Comments</span>
                </div>
                <div>
                  <i class="far fa-thumbs-up"></i>
                  <span>15 Likes</span>
                </div>
            </div>
            <p>by <span>Karten Smith</span></p>
          </div>
      </article>
    </div>
  </div>
</section>