<section>
  <div id="activity-container">
    <div class="activities-heading">
      <h3>Our Activities</h3>
      <img src="../../assets/images/curved-line.png"/>
    </div>
    <div class="card-deck activity-container">
      <div class="card activity-box">
        <div class="activity-photo">
            <img src="../../assets/images/activities/mohammad-metri-421904-unsplash.jpg" alt="Card image cap">
        </div>
        <div class="card-body">
          <span class="activity-category">Photography \ Life Style</span>
          <p class="card-text activity-description">Rockin' and rollin' all week long. As long as we live it's you and me baby.</p>
          <hr/>
          <div class="activity-metadata">
            <span class="float-left activity-date">Sep, 6, 2016</span>
            <div class="float-right activity-comments-likes">
              <div>
                <i class="far fa-comment-alt"></i>
                <span>05 Comments</span>
              </div>
              <div>
                <i class="far fa-thumbs-up"></i>
                <span>15 Likes</span>
              </div>
            </div>
          </div>
          <p class="float-left activity-author">by <span>Karten Smith</span></p>
        </div>
      </div>
      <div class="card activity-box">
          <div class="activity-photo">
            <img src="../../assets/images/activities/luiz-guimaraes-1278254-unsplash.jpg" alt="Card image cap">
          </div>
          <div class="card-body">
            <span class="activity-category">Photography \ Bags</span>
            <p class="card-text activity-description">There ain't nothin' wrong with that. Straightnin' the curves the law never will.</p>
            <hr/>
            <div class="activity-metadata">
              <span class="float-left activity-date">Oct, 8, 2014</span>
              <div class="float-right activity-comments-likes">
                <div>
                  <i class="far fa-comment-alt"></i>
                  <span>15 Comments</span>
                </div>
                <div>
                  <i class="far fa-thumbs-up"></i>
                  <span>53 Likes</span>
                </div>
              </div>
            </div>
            <p class="float-left activity-author">by <span>Blenton</span></p>
        </div>
      </div>
      <div class="card activity-box">
        <div class="activity-photo">
          <img src="../../assets/images/activities/rawpixel-661940-unsplash.jpg" alt="Card image cap">
        </div>
        <div class="card-body">
          <span class="activity-category">Photography \ Home Made</span>
          <p class="card-text activity-description">There's nothing we won't try. Never heard the word impossible.</p>
          <hr/>
          <div class="activity-metadata">
            <span class="float-left activity-date">Nov, 3, 2015</span>
            <div class="float-right activity-comments-likes">
              <div>
                <i class="far fa-comment-alt"></i>
                <span>32 Comments</span>
              </div>
              <div>
                <i class="far fa-thumbs-up"></i>
                <span>87 Likes</span>
              </div>
            </div>
          </div>
          <p class="float-left activity-author">by <span>James Hocker</span></p>
        </div>
      </div>
    </div>
  </div>
</section>