<footer>
  <div id="footer-container">
    <div id="footer-copyright">
      <span>&copy; Copyright 2016 Mindelo</span>
    </div>
    <div id="footer-links">
      <nav class="navbar-expand-lg navbar-light main-nav">
        <div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav footer-navbar">
              <li class="nav-item">
                <a class="footer-menu-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="footer-menu-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="footer-menu-link" href="#">Blog</a>
              </li>
              <li class="nav-item">
                <a class="footer-menu-link" href="#">Team</a>
              </li>
              <li class="nav-item">
                <a class="footer-menu-link" href="#">Portfolio</a>
              </li>
              <li class="nav-item">
                <a class="footer-menu-link" href="#">Shop</a>
              </li>
              <li class="nav-item">
                <a class="footer-menu-link" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <nav class="navbar-expand-lg navbar-light icons-nav">
        <div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav footer-navbar">
              <li class="nav-item footer-li-item">
                <a class="footer-menu-icons" href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li class="nav-item footer-li-item">
                <a class="footer-menu-icons" href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li class="nav-item footer-li-item">
                <a class="footer-menu-icons" href="#"><i class="fab fa-instagram"></i></a>
              </li>
              <li class="nav-item footer-li-item">
                <a class="footer-menu-icons" href="#"><i class="fab fa-google-plus-g"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div id="footer-rights">
      <span>All Rights Reserved</span>
    </div>
  </div>
</footer>