@font-face {
    font-family: 'DroidSansBold';
    src: url('/assets/fonts/DroidSans-Bold.ttf');
}

@font-face {
    font-family: 'CabinMedium';
    src: url('/assets/fonts/Cabin-Medium.otf');
}

@font-face {
    font-family: 'CabinSemiBold';
    src: url('/assets/fonts/Cabin-SemiBold.otf');
}

.carousel {
    max-height: 550px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caption-slider {
    margin: auto;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

h1 {
    font-family: DroidSansBold, Bold;
    font-size: 3.3rem;
    text-transform: uppercase;
    color: #333333;
    margin: 0;
    padding: 0;
}

h5 {
    font-family: DroidSansBold, Bold;
    text-transform: uppercase;
    color: #333333;
    font-size: 1.4rem;
}

h5 > span {
    color: #425cbb;
}

p {
    font-family: CabinMedium;
    margin: 0;
    padding: 0;
    color: #333333; 
    font-size: 1.18rem;
}

.slider-button {
    font-family: CabinSemiBold;
    color: #fefefe;
    background-color: #425cbb;
    padding: 12px;
    width: 140px;
    border-radius: 25px;
    border-color: #425cbb;
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-top: 18px;
    letter-spacing: 0.1rem;
}

ol {
    display: flex; 
    align-items: center;
}

.carousel-indicators li {
    width: 6px;
    height: 6px;
    border-radius: 100%;
}

.carousel-indicators .active{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #425cbb;
}

#right-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 0 40px 45px;
    border-color: transparent transparent transparent #ffffff;
}

#left-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 45px 40px 0;
    border-color: transparent #ffffff transparent transparent;
}

.carousel-control-prev, .carousel-control-next {
    opacity: 1;
    width: 40px;
}

.carousel-control-prev-icon {
    background-image: url("../../assets/images/slider/arrows/left-arrow.png");
    position: absolute;
    left: 7px;
    top: 49%;
    width: 10px;
    height: 15px;
}

.carousel-control-next-icon {
    background-image: url("../../assets/images/slider/arrows/right-arrow.png");
    position: absolute;
    right: 7px;
    top: 49%;
    width: 10px;
    height: 15px;
}